<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%n%-4r %d{HH:mm:ss} %highlight(%-5level) %cyan(%logger{15}\(%F:%L\)): %m%n</pattern>
        </encoder>
        <target>System.out</target>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%n%-4r %d{HH:mm:ss} %highlight(%-5level) %cyan(%logger{15}\(%F:%L\)): %m%n</pattern>
        </encoder>
        <target>System.err</target>
    </appender>

    <logger name="org.asynchttpclient">
        <level value="INFO"/>
    </logger>
    <logger name="io.netty">
        <level value="INFO"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
